<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo-white.png" alt="LPS logo" class="mt-8 mb-5 w-12rem flex-shrink-0" />
        <div style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    hwb(45 0% 11%) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            ">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
                style="border-radius: 53px">
                <span class="text-blue-500 font-bold text-3xl">404</span>
                <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">
                    Not Found
                </h1>
                <div class="text-600 mb-5">
                    The page you are looking for was not found.
                </div>
                <a class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-cyan-400 border-round"
                        style="height: 3.5rem; width: 3.5rem">
                        <i class="text-50 pi pi-fw pi-table text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0 block">Frequently Asked Questions</span>
                        <span class="text-600 lg:text-xl">Please ask the relevant parties about this
                            issue.</span>
                    </span>
                </a>
                <a class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-orange-400 border-round"
                        style="height: 3.5rem; width: 3.5rem">
                        <i class="pi pi-fw pi-question-circle text-50 text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0">Solution Center</span>
                        <span class="lg:text-xl text-600">
                            You can contact this email
                            <a href="mailto:abdulfikihk@gmail.com" class="text-blue-500">abdulfikihk@gmail.com</a>
                        </span>
                    </span>
                </a>
                <a class="w-full flex align-items-center mb-5 py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center bg-indigo-400 border-round"
                        style="height: 3.5rem; width: 3.5rem">
                        <i class="pi pi-fw pi-unlock text-50 text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0">Permission Manager</span>
                        <span class="text-600 lg:text-xl">Or you can return to home by clicking the button
                            below.</span>
                    </span>
                </a>
                <p-button label="Home" icon="pi pi-home" class="bg-blue-500 rounded-lg" (click)="home()"></p-button>
            </div>
        </div>
    </div>
</div>