<p-tabView styleClass="mb-4 border border-gray-300 rounded-lg shadow-md">
    <p-tabPanel header="Dashboard" leftIcon="pi pi-sliders-h">
        <div class="grid">
            <div class="col-12">
                <div class="flex items-center justify-between mb-4">
                    <h5>Laporan Kredit Pembiayaan
                        <p-dropdown [options]="dataBank" optionLabel="label" optionValue="value" class="w-60 ml-4"
                            [filter]="true" [(ngModel)]="selectedSearch"
                            (onChange)="onGlobalChange($event); selectedData(selectedSearch, 1, 30)"
                            (keydown.enter)="findData(findSearch, 1, 30)" placeholder="Select Bank" [showClear]="true"
                            (onClear)="clear2(dt1)">
                        </p-dropdown>

                        <p-dropdown [options]="dataBankPeriode" optionLabel="periode" optionValue="periode"
                            class="w-60 ml-4" [filter]="true" [(ngModel)]="selectedPeriode" placeholder="Select Periode"
                            [showClear]="true" (onChange)="applyPeriodeFilter(selectedSearch, $event)"
                            (onClear)="selectedData(selectedSearch, 1, 30)">
                        </p-dropdown>
                    </h5>
                </div>

                <div class="card" *ngIf="showDataChart">
                    <p-chart type="line" [data]="dataBar" [options]="optionsBar" />
                </div>

                <div class="card flex justify-content-center gap-4 flex-wrap" *ngIf="showDataPie">
                    <div *ngIf="pieCharts?.kualitas1" style="text-align: center;">
                        <h3>Kredit Kol 1</h3>
                        <p class="mt-2"><strong>Total: {{ totalKualitas1 | number }}</strong></p>
                        <p-chart type="pie" [data]="pieCharts.kualitas1" [options]="options"
                            style="width: 100px; height: 100px;"></p-chart>
                    </div>
                    <div *ngIf="pieCharts?.kualitas2" style="text-align: center;">
                        <h3>Kredit Kol 2</h3>
                        <p class="mt-2"><strong>Total: {{ totalKualitas2 | number }}</strong></p>
                        <p-chart type="pie" [data]="pieCharts.kualitas2" [options]="options"
                            style="width: 100px; height: 100px;"></p-chart>
                    </div>
                    <div *ngIf="pieCharts?.kualitas3" style="text-align: center;">
                        <h3>Kredit Kol 3</h3>
                        <p class="mt-2"><strong>Total: {{ totalKualitas3 | number }}</strong></p>
                        <p-chart type="pie" [data]="pieCharts.kualitas3" [options]="options"
                            style="width: 100px; height: 100px;"></p-chart>
                    </div>
                    <div *ngIf="pieCharts?.kualitas4" style="text-align: center;">
                        <h3>Kredit Kol 4</h3>
                        <p class="mt-2"><strong>Total: {{ totalKualitas4 | number }}</strong></p>
                        <p-chart type="pie" [data]="pieCharts.kualitas4" [options]="options"
                            style="width: 100px; height: 100px;"></p-chart>
                    </div>
                    <div *ngIf="pieCharts?.kualitas5" style="text-align: center;">
                        <h3>Kredit Kol 5</h3>
                        <p class="mt-2"><strong>Total: {{ totalKualitas5 | number }}</strong></p>
                        <p-chart type="pie" [data]="pieCharts.kualitas5" [options]="options"
                            style="width: 100px; height: 100px;"></p-chart>
                    </div>
                </div>




            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Data View" leftIcon="pi pi-sliders-h">
        <div class="grid">
            <div class="col-12">
                <p-toast></p-toast>
                <div class="card">
                    <div class="flex items-center justify-between mb-4">
                        <h5>Laporan Kredit Pembiayaan
                            <!-- <p-dropdown [options]="dataBank" optionLabel="label" optionValue="value" class="w-60 ml-4"
                                [filter]="true" [(ngModel)]="selectedSearch"
                                (onChange)="onGlobalChange($event); selectedData(selectedSearch, 1, 30)"
                                (keydown.enter)="findData(findSearch, 1, 30)" placeholder="Select Bank"
                                [showClear]="true" (onClear)="clear2(dt1)">
                            </p-dropdown>

                            <p-dropdown [options]="dataBankPeriode" optionLabel="periode" optionValue="periode"
                                class="w-60 ml-4" [filter]="true" [(ngModel)]="selectedPeriode"
                                placeholder="Select Periode" [showClear]="true"
                                (onChange)="applyPeriodeFilter(selectedSearch, $event)"
                                (onClear)="selectedData(selectedSearch, 1, 30)">
                            </p-dropdown> -->


                        </h5>
                        <div class="flex items-center space-x-4">

                            <button pButton pRipple icon="pi pi-plus" class="p-button-success" [disabled]="!isAdmin"
                                (click)="openNew()" aria-label="Tambah">
                            </button>

                            <button pButton pRipple label="Import" icon="pi pi-upload" class="p-button-warning"
                                (click)="showImportDialog()">
                            </button>

                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"
                                (click)="openExport()">
                            </button>
                        </div>
                    </div>
                    <p-table #dt1 [value]="components1" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
                        [loading]="loading" [paginator]="true" [rows]="30" [totalRecords]="totalRecords" dataKey="id"
                        [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-sm no-padding-table"
                        responsiveLayout="scroll" rowGroupMode="subheader" groupRowsBy="kategori" [scrollable]="true"
                        [tableStyle]="{'min-width': '60rem'}" scrollHeight="700px" sortMode="multiple">
                        <ng-template pTemplate=" caption">

                            <div class="flex justify-content-between flex-column sm:flex-row">
                                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                    (click)="clear(dt1)"></button>
                                <span class="p-input-icon-left mb-2">
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" style="padding: 0;">
                            <tr class="p-0">
                                <th *ngIf="!selectedBank">
                                    <div class="flex justify-content-between align-items-center">
                                        ID Pelapor
                                        <p-sortIcon field="id_pelapor"></p-sortIcon>
                                    </div>
                                </th>
                                <th *ngIf="!selectedPeriode" style="min-width: 5rem" pSortableColumn="periode_laporan">
                                    <div class="flex justify-content-between align-items-center">
                                        Periode Laporan
                                        <p-sortIcon field="periode_laporan"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="nomor_rekening">
                                    <div class="flex justify-content-between align-items-center">
                                        Nomor Rekening
                                        <p-sortIcon field="nomor_rekening"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="jenis_kredit_pembiayaan">
                                    <div class="flex justify-content-between align-items-center">
                                        Jenis Kredit Pembiayaan
                                        <p-sortIcon field="jenis_kredit_pembiayaan"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="deskripsi_jenis_kredit_pembiayaan">
                                    <div class="flex justify-content-between align-items-center">
                                        Deskripsi Jenis Kredit Pembiayaan
                                        <p-sortIcon field="deskripsi_jenis_kredit_pembiayaan"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="jumlah_nasabah_penyimpan">
                                    <div class="flex justify-content-between align-items-center">
                                        Baki Debet
                                        <p-sortIcon field="jumlah_nasabah_penyimpan"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="deskripsi_kualitas">
                                    <div class="flex justify-content-between align-items-center">
                                        Deskripsi Kualitas
                                        <p-sortIcon field="deskripsi_kualitas"></p-sortIcon>
                                    </div>
                                </th>
                                <th style="min-width: 12rem" pSortableColumn="deskripsi_sifat_kredit_pembiayaan">
                                    <div class="flex justify-content-between align-items-center">
                                        Deskripsi Sifat Kredit Pembiayaan
                                        <p-sortIcon field="deskripsi_sifat_kredit_pembiayaan"></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-component>
                            <tr [ngStyle]="{height: '10px'}">
                                <td *ngIf="!selectedBank">
                                    {{component.id_pelapor}}
                                </td>
                                <td *ngIf="!selectedPeriode">
                                    {{ component.periode_laporan }}
                                </td>
                                <td>
                                    {{ component.nomor_rekening }}
                                </td>
                                <td>
                                    {{ component.jenis_kredit_pembiayaan }}
                                </td>
                                <td>
                                    {{ component.deskripsi_jenis_kredit_pembiayaan }}
                                </td>
                                <td class="text-right">
                                    {{component.baki_debet | number:'1.0-0':'id'}}
                                </td>
                                <td>
                                    {{ component.deskripsi_kualitas }}
                                </td>
                                <td>
                                    {{ component.deskripsi_sifat_kredit_pembiayaan }}
                                </td>
                            </tr>
                        </ng-template>


                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No components found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">
                                    Loading components data. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <p-toast></p-toast>
            </div>
            <p-toast></p-toast>
        </div>
    </p-tabPanel>
</p-tabView>


<p-dialog [(visible)]="recordDialog" [style]="{ width: '850px' }" header="New Records" [modal]="true"
    styleClass="p-fluid" class="grid grid-cols-2 gap-4">
    <h5>Laporan SCV</h5>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label htmlFor="tahun" class="text-xl">Tahun</label>
            <input pInputText id="tahun" type="text" [(ngModel)]="data.data_scv.tahun" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="bulan" class="text-xl">Bulan</label>
            <input pInputText id="bulan" type="text" [(ngModel)]="data.data_scv.bulan" />
        </div>
        <div class="field col-12">
            <label htmlFor="kodeKepesertaan" class="text-xl">Kode Kepesertaan</label>
            <input pInputText id="kodeKepesertaan" type="text" [(ngModel)]="data.data_scv.kode_kepesertaan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="namaBank" class="text-xl">Kode Bank</label>
            <input pInputText id="namaBank" type="text" [(ngModel)]="data.data_scv.nama_bank" />
        </div>
        <div class="field col-12">
            <label htmlFor="deskripsi" class="text-xl">Deskripsi</label>
            <input pInputText id="deskripsi" type="text" [(ngModel)]="data.data_scv.deskripsi" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nasabah" class="text-xl">Jumlah Nasabah Penyimpan</label>
            <input pInputText id="nasabah" type="number" [(ngModel)]="data.data_scv.jumlah_nasabah_penyimpan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="rekening" class="text-xl">Jumlah Rekening Simpanan</label>
            <input pInputText id="rekening" type="number" [(ngModel)]="data.data_scv.jumlah_rekening_simpanan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="saldoSimpanan" class="text-xl">Jumlah Saldo Simpanan</label>
            <input pInputText id="saldoSimpanan" type="number" [(ngModel)]="data.data_scv.jumlah_saldo_simpanan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="saldoDijamin" class="text-xl">Jumlah Saldo Simpanan Dijamin</label>
            <input pInputText id="saldoDijamin" type="number"
                [(ngModel)]="data.data_scv.jumlah_saldo_simpanan_dijamin" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="uninsured" class="text-xl">Uninsured</label>
            <input pInputText id="uninsured" type="number" [(ngModel)]="data.data_scv.uninsured" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="insured" class="text-xl">Insured</label>
            <input pInputText id="insured" type="number" [(ngModel)]="data.data_scv.insured" />
        </div>
        <div class="field col-12">
            <label htmlFor="check" class="text-xl">Check</label>
            <input pInputText id="check" type="text" [(ngModel)]="data.data_scv.check" />
        </div>
    </div>

    <div class="p-dialog-footer">
        <button type="button" pButton label="Save" (click)="addData(data, 'false')"
            class="p-button-success mr-4 text-xl"></button>
        <button type="button" pButton label="Cancel" (click)="cancelDialog()" class="p-button-danger text-xl"></button>
    </div>
</p-dialog>

<p-dialog [(visible)]="editRecordDialog" [style]="{ width: '850px' }" header="Edit Records" [modal]="true"
    styleClass="p-fluid">
    <h5>Laporan Neraca Pos</h5>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label htmlFor="id_pelapor" class="text-xl">ID Pelapor</label>
            <input pInputText id="id_pelapor" type="text" [(ngModel)]="editData.id_pelapor" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="periode_laporan" class="text-xl">Periode Laporan</label>
            <input pInputText id="periode_laporan" type="text" [(ngModel)]="editData.periode_laporan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="periode_data" class="text-xl">Periode Data</label>
            <input pInputText id="periode_data" type="text" [(ngModel)]="editData.periode_data" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="id" class="text-xl">ID</label>
            <input pInputText id="id" type="text" [(ngModel)]="editData.id" />
        </div>
        <div class="field col-12">
            <label htmlFor="pos_laporan" class="text-xl">Pos Laporan Posisi Keuangan</label>
            <input pInputText id="pos_laporan" type="text" [(ngModel)]="editData.pos_laporan_keuangan" />
        </div>
        <div class="field col-12">
            <label htmlFor="deskripsi_pos" class="text-xl">Deskripsi Pos Laporan Posisi Keuangan</label>
            <input pInputTextarea id="deskripsi_pos" rows="4" [(ngModel)]="editData.deskripsi_pos_laporan_keuangan" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="cakupan_data" class="text-xl">Cakupan Data</label>
            <input pInputText id="cakupan_data" type="text" [(ngModel)]="editData.cakupan_data" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="deskripsi_cakupan" class="text-xl">Deskripsi Cakupan Data</label>
            <input pInputText id="deskripsi_cakupan" type="text" [(ngModel)]="editData.deskripsi_cakupan_data" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_rupiah" class="text-xl">Nominal Rupiah</label>
            <input pInputText id="nominal_rupiah" type="number" [(ngModel)]="editData.nominal_rupiah" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_valas" class="text-xl">Nominal Valas</label>
            <input pInputText id="nominal_valas" type="number" [(ngModel)]="editData.nominal_valas" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_valas_usd" class="text-xl">Nominal Valas USD</label>
            <input pInputText id="nominal_valas_usd" type="number" [(ngModel)]="editData.nominal_valas_usd" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_valas_non_usd" class="text-xl">Nominal Valas Non USD</label>
            <input pInputText id="nominal_valas_non_usd" type="number" [(ngModel)]="editData.nominal_valas_non_usd" />
        </div>
        <div class="field col-12">
            <label htmlFor="nominal_total" class="text-xl">Nominal Total</label>
            <input pInputText id="nominal_total" type="number" [(ngModel)]="editData.nominal_total" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_perusahaan_induk_rupiah" class="text-xl">Nominal Perusahaan Induk Rupiah</label>
            <input pInputText id="nominal_perusahaan_induk_rupiah" type="number"
                [(ngModel)]="editData.nominal_perusahaan_induk_rupiah" />
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="nominal_perusahaan_induk_valas" class="text-xl">Nominal Perusahaan Induk Valas</label>
            <input pInputText id="nominal_perusahaan_induk_valas" type="number"
                [(ngModel)]="editData.nominal_perusahaan_induk_valas" />
        </div>
        <div class="field col-12">
            <label htmlFor="nominal_perusahaan_induk_total" class="text-xl">Nominal Perusahaan Induk Total</label>
            <input pInputText id="nominal_perusahaan_induk_total" type="number"
                [(ngModel)]="editData.nominal_perusahaan_induk_total" />
        </div>
        <div class="field col-12">
            <label htmlFor="nominal_konsolidasi_total" class="text-xl">Nominal Konsolidasi Total</label>
            <input pInputText id="nominal_konsolidasi_total" type="number"
                [(ngModel)]="editData.nominal_konsolidasi_total" />
        </div>
        <div class="field col-12">
            <label htmlFor="kategori" class="text-xl">Kategori</label>
            <input pInputText id="kategori" type="text" [(ngModel)]="editData.kategori" />
        </div>
        <div class="field col-12">
            <label htmlFor="buk" class="text-xl">BUK</label>
            <input pInputText id="buk" type="text" [(ngModel)]="editData.buk" />
        </div>
    </div>

    <div class="p-dialog-footer">
        <button type="button" pButton label="Save" (click)="addData(data, 'true')"
            class="p-button-success mr-4 text-xl"></button>
        <button type="button" pButton label="Cancel" (click)="cancelDialog()" class="p-button-danger text-xl"></button>
    </div>
</p-dialog>

<p-dialog [(visible)]="exportDialog" [style]="{ width: '400px', height: '250px' }" header="Pilihan Export File"
    [modal]="true" styleClass="p-fluid">
    <div class="p-field">
        <label for="exportFormat" class="mb-2">Pilih Format Export:</label>
        <div class="mt-2">
            <p-dropdown id="exportFormat" [(ngModel)]="selectedExportFormat" [options]="exportFormats"
                class="mt-2"></p-dropdown>
        </div>
    </div>
    <div class="p-dialog-footer mt-4">
        <button pButton type="button" label="Export" (click)="exportData()"
            class="p-button-success mr-2 text-align-center"></button>
        <button pButton type="button" label="Cancel" (click)="cancelDialog()"
            class="ml-2 p-button-danger text-align-center"></button>
    </div>
</p-dialog>

<p-dialog header="Import Data Kredit Pembiayaan" [(visible)]="importDialog" [modal]="true" [closable]="true"
    [responsive]="true" [style]="{width: '800px', marginBottom: '8px'}">
    <p-fileUpload name="file" accept=".csv" [maxFileSize]="100000000" (onSelect)="onFileSelect($event)"
        (onClear)="onClearFile()" [showUploadButton]="false" cancelStyleClass="bg-red-500"
        removeStyleClass="bg-red-500">
    </p-fileUpload>

    <div *ngIf="csvData && csvData.length" class="mt-4">
        <h3>Preview CSV</h3>
        <p-table [value]="csvData | slice:0:5">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let header of csvHeaders">{{ header }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td *ngFor="let header of csvHeaders">{{ row[header] }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="flex justify-end mt-4">
        <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary mr-2" (click)="cancelUpload()">
        </button>
        <button pButton label="Upload" icon="pi pi-upload" class="p-button-primary" [disabled]="!selectedFile"
            (click)="uploadFile()">
        </button>
    </div>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }" rejectButtonStyleClass="p-button-danger"
    acceptButtonStyleClass="p-button-success"></p-confirmDialog>

<style>
    ::ng-deep .no-padding-table .p-datatable-thead>tr>th,
    ::ng-deep .no-padding-table .p-datatable-tbody>tr>td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        /* Hilangkan padding */
    }
</style>