<div class="grid" *ngIf="loadingChart; else spinnerTemplate">
    <div class="col-12">
        <div class="card">
            <div class="arc-report-container">
                <div>
                    <div class="text-3xl font-bold mb-4">
                        Report Old Total
                        <span class="ml-4">
                            <p-dropdown
                                [options]="dataOperator"
                                [(ngModel)]="selectedOperator2"
                                optionLabel="operator"
                                (onChange)="onGlobalPlane(dt2, $event, 'total')"
                                class="text-2xl"
                                placeholder="Select Operator"
                                [showClear]="true"
                                (onClear)="clear(dt2, 'dt2')"
                            ></p-dropdown>
                        </span>
                    </div>

                    <p-table
                        #dt2
                        [value]="reports2"
                        dataKey="id"
                        [rows]="10"
                        [loading]="loading2"
                        [rowHover]="true"
                        styleClass="p-datatable-gridlines"
                        [globalFilterFields]="['ac_type', 'operator']"
                        responsiveLayout="scroll"
                        [scrollable]="true"
                        scrollHeight="600px"
                        rowGroupMode="subheader"
                        groupRowsBy="operator"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="flex justify-content-between flex-column sm:flex-row"
                            >
                                <button
                                    pButton
                                    label="Clear"
                                    class="p-button-outlined mb-2"
                                    icon="pi pi-filter-slash"
                                    (click)="clear(dt2, 'dt2')"
                                ></button>
                                <span class="p-input-icon-left mb-2">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        #filter
                                        pTrim
                                        (keydown.enter)="
                                            onGlobalFilter(dt2, $event, 'dt2')
                                        "
                                        placeholder="Search Keyword"
                                        class="w-full"
                                    />
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    label="Export"
                                    icon="pi pi-upload"
                                    class="p-button-help"
                                    (click)="openExport('total')"
                                ></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th
                                    rowspan="3"
                                    pSortableColumn="ac_type"
                                    style="min-width: 10rem"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        AC Type
                                        <p-sortIcon
                                            field="ac_type"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div
                                        class="flex px-8 ml-8 justify-content-between align-items-center text-center"
                                    >
                                        LLP
                                    </div>
                                </th>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div
                                        class="flex px-8 ml-8 justify-content-between align-items-center text-center"
                                    >
                                        TC
                                    </div>
                                </th>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div>NON TC</div>
                                </th>
                                <th
                                    colspan="1"
                                    class="text-center align-items-center"
                                >
                                    <div>Summary</div>
                                </th>

                                <th rowspan="3" style="min-width: 5rem">
                                    <div class="text-center align-items-center">
                                        Action
                                    </div>
                                </th>
                            </tr>

                            <!-- Kolom LLP -->
                            <tr>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="llp_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="llp_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="llp_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="llp_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="llp_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="llp_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>

                                <!-- Kolom TC -->
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="tc_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="tc_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="tc_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="tc_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="tc_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="tc_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>

                                <!-- Kolom NON TC -->
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="non_tc_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="non_tc_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="non_tc_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="non_tc_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="non_tc_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="non_tc_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th rowspan="4" pSortableColumn="total_count">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Total Data
                                        <p-sortIcon
                                            field="total_count"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="groupheader" let-report>
                            <tr pRowGroupHeader>
                                <td colspan="14">
                                    <span class="font-bold ml-2">{{
                                        report?.operator || "Others"
                                    }}</span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-reports2>
                            <tr>
                                <td class="text-center">
                                    {{ reports2?.ac_type }}
                                </td>
                                <td class="text-center">
                                    {{ reports2?.llp_linked }}
                                </td>
                                <td class="text-center">
                                    {{ reports2?.llp_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        reports2?.llp_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ reports2?.tc_linked }}
                                </td>
                                <td class="text-center">
                                    {{ reports2?.tc_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        reports2?.tc_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ reports2?.non_tc_linked }}
                                </td>
                                <td class="text-center">
                                    {{ reports2?.non_tc_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        reports2?.non_tc_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ reports2?.total_count }}
                                </td>
                                <td class="text-center">
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-plus"
                                        [disabled]="!isAdmin"
                                        class="p-button-rounded p-button-success"
                                        (click)="
                                            addComponent(reports2, 'total')
                                        "
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No components found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">
                                    Loading components data. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <p-dialog
            [(visible)]="exportDialog2"
            [style]="{ width: '400px', height: '250px' }"
            header="Pilihan Export File"
            [modal]="true"
            styleClass="p-fluid"
        >
            <div class="p-field">
                <label for="exportFormat" class="mb-2"
                    >Pilih Format Export:</label
                >
                <div class="mt-2">
                    <p-dropdown
                        id="exportFormat"
                        [(ngModel)]="selectedExportFormat"
                        [options]="exportFormats"
                        class="mt-2"
                    ></p-dropdown>
                </div>
            </div>
            <div class="p-dialog-footer mt-4">
                <button
                    pButton
                    type="button"
                    label="Export"
                    (click)="exportData('total')"
                    class="p-button-success mr-2 text-align-center"
                ></button>
                <button
                    pButton
                    type="button"
                    label="Cancel"
                    (click)="cancelExport()"
                    class="ml-2 p-button-danger"
                ></button>
            </div>
        </p-dialog>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="arc-report-container">
                <div>
                    <div class="text-3xl font-bold mb-4">
                        Report Old
                        <span class="ml-4">
                            <p-dropdown
                                [options]="dataOperator"
                                [(ngModel)]="selectedOperator"
                                optionLabel="operator"
                                (onChange)="
                                    onGlobalPlane(dt1, $event, 'report')
                                "
                                class="text-2xl"
                                placeholder="Select Operator"
                                [showClear]="true"
                                (onClear)="clear(dt1, 'dt1')"
                            ></p-dropdown>
                        </span>
                    </div>

                    <p-table
                        #dt1
                        [value]="reports1"
                        dataKey="id"
                        [rows]="10"
                        [loading]="loading"
                        [rowHover]="true"
                        styleClass="p-datatable-gridlines"
                        [globalFilterFields]="[
                            'id',
                            'aircraft_reg',
                            'ac_type',
                            'operator'
                        ]"
                        responsiveLayout="scroll"
                        [scrollable]="true"
                        scrollHeight="600px"
                        rowGroupMode="subheader"
                        groupRowsBy="ac_type"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="flex justify-content-between flex-column sm:flex-row"
                            >
                                <button
                                    pButton
                                    label="Clear"
                                    class="p-button-outlined mb-2"
                                    icon="pi pi-filter-slash"
                                    (click)="clear(dt1, 'dt1')"
                                ></button>
                                <span class="p-input-icon-left mb-2">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        #filter
                                        pTrim
                                        (keydown.enter)="
                                            onGlobalFilter(dt1, $event, 'dt1')
                                        "
                                        placeholder="Search Keyword"
                                        class="w-full"
                                    />
                                </span>
                                <button
                                    pButton
                                    pRipple
                                    label="Export"
                                    icon="pi pi-upload"
                                    class="p-button-help"
                                    (click)="openExport('report')"
                                ></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th
                                    rowspan="3"
                                    pSortableColumn="aircraft_reg"
                                    style="min-width: 10rem"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Registrasi
                                        <p-sortIcon
                                            field="aircraft_reg"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div
                                        class="flex px-8 ml-8 justify-content-between align-items-center text-center"
                                    >
                                        LLP
                                    </div>
                                </th>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div
                                        class="flex px-8 ml-8 justify-content-between align-items-center text-center"
                                    >
                                        TC
                                    </div>
                                </th>
                                <th
                                    colspan="3"
                                    class="text-center align-items-center"
                                >
                                    <div>NON TC</div>
                                </th>
                                <th
                                    colspan="1"
                                    class="text-center align-items-center"
                                >
                                    <div>Summary</div>
                                </th>
                                <th rowspan="3" style="min-width: 5rem">
                                    <div class="text-center align-items-center">
                                        Action
                                    </div>
                                </th>
                            </tr>

                            <!-- Kolom LLP -->
                            <tr>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="llp_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="llp_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="llp_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="llp_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="llp_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="llp_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>

                                <!-- Kolom TC -->
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="tc_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="tc_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="tc_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="tc_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="tc_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="tc_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>

                                <!-- Kolom NON TC -->
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="non_tc_linked"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Linked
                                        <p-sortIcon
                                            field="non_tc_linked"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 8rem"
                                    pSortableColumn="non_tc_baseline"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Baseline
                                        <p-sortIcon
                                            field="non_tc_baseline"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th
                                    style="min-width: 5rem"
                                    pSortableColumn="non_tc_percentage"
                                >
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Percent
                                        <p-sortIcon
                                            field="non_tc_percentage"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                                <th rowspan="4" pSortableColumn="total_count">
                                    <div
                                        class="flex justify-content-between align-items-center"
                                    >
                                        Total Data
                                        <p-sortIcon
                                            field="total_count"
                                        ></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="groupheader" let-report>
                            <tr pRowGroupHeader>
                                <td colspan="14">
                                    <span class="font-bold ml-2">{{
                                        report.ac_type || "Others"
                                    }}</span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-report>
                            <tr>
                                <td class="text-center">
                                    {{ report?.aircraft_reg }}
                                </td>
                                <td class="text-center">
                                    {{ report?.llp_linked }}
                                </td>
                                <td class="text-center">
                                    {{ report?.llp_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        report?.llp_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ report?.tc_linked }}
                                </td>
                                <td class="text-center">
                                    {{ report?.tc_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        report?.tc_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ report?.non_tc_linked }}
                                </td>
                                <td class="text-center">
                                    {{ report?.non_tc_baseline }}
                                </td>
                                <td class="text-center">
                                    {{
                                        report?.non_tc_percentage || 0
                                            | number : "1.2-2"
                                    }}%
                                </td>
                                <td class="text-center">
                                    {{ report?.total_count }}
                                </td>
                                <td class="text-center">
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-plus"
                                        [disabled]="!isAdmin"
                                        class="p-button-rounded p-button-success"
                                        (click)="addComponent(report, 'report')"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No components found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">
                                    Loading components data. Please wait.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <p-toast></p-toast>
        </div>
        <p-dialog
            [(visible)]="exportDialog1"
            [style]="{ width: '400px', height: '250px' }"
            header="Pilihan Export File"
            [modal]="true"
            styleClass="p-fluid"
        >
            <div class="p-field">
                <label for="exportFormat" class="mb-2"
                    >Pilih Format Export:</label
                >
                <div class="mt-2">
                    <p-dropdown
                        id="exportFormat"
                        [(ngModel)]="selectedExportFormat"
                        [options]="exportFormats"
                        class="mt-2"
                    ></p-dropdown>
                </div>
            </div>
            <div class="p-dialog-footer mt-4">
                <button
                    pButton
                    type="button"
                    label="Export"
                    (click)="exportData('report')"
                    class="p-button-success mr-2 text-align-center"
                ></button>
                <button
                    pButton
                    type="button"
                    label="Cancel"
                    (click)="cancelExport()"
                    class="ml-2 p-button-danger"
                ></button>
            </div>
        </p-dialog>
    </div>
</div>
<!-- Spinner template to show when loadingChart is not true -->
<ng-template #spinnerTemplate>
    <div class="flex justify-center items-center h-screen">
        <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".8s"
        ></p-progressSpinner>
    </div>
</ng-template>
<p-confirmDialog
    [style]="{ width: '450px' }"
    rejectButtonStyleClass="p-button-danger"
    acceptButtonStyleClass="p-button-success"
></p-confirmDialog>
