<div class="grid" *ngIf="loadingChart; else spinnerTemplate">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3 text-xl">Total Reports</span>
                    <div class="text-900 font-medium text-xl">
                        {{ formatNumberWithDots(totalDataLaporan || 0) }}
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                    <i class="pi pi-file text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3 text-xl">Laporan Neraca
                    </span>
                    <div class="text-900 font-medium text-xl">
                        {{
                        formatNumberWithDots(totalNeracaBank || 0)
                        }}
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                    <i class="pi pi-info-circle text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3 text-xl">Laporan Laba Rugi</span>
                    <div class="text-900 font-medium text-xl">
                        {{
                        formatNumberWithDots(
                        totalLabaRugi || 0
                        )
                        }}
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                    <i class="pi pi-check-circle text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3 text-xl">Laporan Error</span>
                    <div class="text-900 font-medium text-xl">
                        {{
                        formatNumberWithDots(
                        totalMissing || 0
                        )
                        }}
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-red-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }">
                    <i class="pi pi-times-circle text-red-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Status Server</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]=items></p-menu>
                </div>
            </div>
            <ul class="list-none p-0 m-0">
                <!-- Status Penyimpanan -->
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Penyimpanan</span>
                        <div class="mt-1 text-600">Penggunaan Disk</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-10rem"
                            [ngStyle]="{ height: '10px', direction: 'rtl' }">
                            <div class="bg-red-500 h-full" [ngStyle]="{ width: storageUsage + '%' }"></div>
                        </div>
                        <div>
                            <span [ngClass]="storageUsage > 75 ? 'text-red-500' : 'text-blue-500'"
                                class="ml-3 font-medium">{{ storageUsage }}%</span>
                        </div>
                    </div>
                </li>
                <!-- Status CPU -->
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">CPU</span>
                        <div class="mt-1 text-600">Penggunaan CPU</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-10rem"
                            [ngStyle]="{ height: '10px', direction: 'rtl' }">
                            <div class="bg-purple-500 h-full" [ngStyle]="{ width: cpuUsage + '%' }"></div>
                        </div>
                        <div>
                            <span [ngClass]="cpuUsage > 80 ? 'text-red-500' : 'text-orange-500'"
                                class="ml-3 font-medium">{{ cpuUsage }}%</span>
                        </div>
                    </div>
                </li>
                <!-- Status Memory -->
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Memory</span>
                        <div class="mt-1 text-600">Penggunaan Memory</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-10rem"
                            [ngStyle]="{ height: '10px', direction: 'rtl' }">
                            <div class="bg-green-500 h-full" [ngStyle]="{ width: memoryUsage + '%' }"></div>
                        </div>
                        <span [ngClass]="memoryUsage > 70 ? 'text-red-500' : 'text-green-500'"
                            class="ml-3 font-medium">{{ memoryUsage }}%</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Note</h5>
            <p-panel header="Informations" [toggleable]="true" class="line-height-3 m-0 text-2xl">
                <div>
                    <Strong> Total Reports </Strong> : Jumlah semua data yang
                    terdapat di dalam database termasuk laporan neraca dan laporan laba rugi dari seluruh bank.
                </div>
                <div>
                    <Strong>Laporan Neraca </Strong> : Jumlah semua data laporan neraca yang tercatat di dalam database.
                </div>
                <div>
                    <strong>Laporan Laba Rugi </strong> : Jumlah semua data laporan laba rugi yang tercatat di dalam
                    database.
                </div>
                <div>
                    <strong> Laporan Error </strong> : Jumlah laporan yang tidak memiliki id_pelapor sehingga tidak
                    dapat diidentifikasi.
                </div>
            </p-panel>
        </div>
    </div>

    <div class="col-12 xl:col-12">
        <div class="card">
            <div class="text-3xl font-bold mb-4">
                <h5>
                    Report Overview
                    <span class="ml-4">
                        <p-dropdown [options]="dataOperator" [(ngModel)]="selectedOperator2" optionLabel="label"
                            optionValue="value" class="text-2xl" [filter]="true" placeholder="Select Bank"
                            [showClear]="true" (onChange)="fecthDataTable1($event.value)">
                        </p-dropdown>
                    </span>
                </h5>
            </div>
            <h6>Total Data: {{ formatNumberWithDots(totalDocuments) }}</h6>
            <h6>Total Laporan Neraca: {{ formatNumberWithDots(totalAvailable) }}</h6>
            <h6>Total Laporan Laba Rugi: {{ formatNumberWithDots(totalUnavailable) }}</h6>

            <!-- Spinner or Skeleton Loader -->
            <div *ngIf="loadingGraph" class="loading-placeholder text-center">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
                <p>Loading chart...</p>
            </div>

            <!-- Chart Display -->
            <p-chart *ngIf="!loadingGraph && chartData && chartData.labels.length > 0" type="line" [data]="chartData"
                [options]="chartOptions">
            </p-chart>

            <!-- Fallback for No Data -->
            <div *ngIf="!loadingGraph && (!chartData || chartData.labels.length === 0)">
                <div class="skeleton-line" style="height: 1rem; width: 80%"></div>
                <div class="skeleton-line" style="height: 1rem; width: 70%"></div>
                <div class="skeleton-line" style="height: 1rem; width: 60%"></div>
            </div>
        </div>
    </div>
</div>
<!-- Spinner template to show when loadingChart is not true -->
<ng-template #spinnerTemplate>
    <div class="flex justify-center items-center h-screen">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".8s"></p-progressSpinner>
    </div>
</ng-template>
<p-confirmDialog [style]="{ width: '450px' }" rejectButtonStyleClass="p-button-danger"
    acceptButtonStyleClass="p-button-success"></p-confirmDialog>